<div style="position: absolute; top: 0; left: 0; width: 100%; text-align: center; z-index: -1;">
    <div style="height: 100vh; display: flex; align-items: center; justify-content: center; background-color: white; color: black !important;">
        <div>
            <h1 style="color: black !important;">Join the revolution.</h1>
            <p style="color: black !important;">Social networks have been changing for the worse.<br>Let's stop tolerating and start changing.</p>
        </div>
    </div>
    <div style="height: 100vh; display: flex; align-items: center; justify-content: center;">
        <div>
            <h1>Stop tolerating discrimination</h1>
            <p style="color: white !important;">Social networks have been enabling nazis, homophobes, and other human scumbags to have platforms.<br>Let's stop tolerating and start changing.</p>
        </div>
    </div>
    <div style="height: 100vh; display: flex; align-items: center; justify-content: center; background-color: white; color: black !important;">
        <div>
            <h1 style="color: black !important;">Stop tolerating bad algorithms</h1>
            <p style="color: black !important;">Random posts showing up in your timeline, and not letting you see the people you want to see is <b>very bad</b>.<br>Let's stop tolerating and start changing.</p>
        </div>
    </div>
    <div style="height: 100vh; display: flex; align-items: center; justify-content: center;">
        <div>
            <h1>Stop tolerating bad alternatives</h1>
            <p style="color: white !important;">People have been trying to replace the well-known social networks with over-engineered alternatives, like decentralized platforms, etc.<br>Let's stop tolerating and start changing.</p>
        </div>
    </div>
</div>